.homepages {
  width: 100%;
  height: 620px;

}

.mySwiper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepages {
  position: relative;
  overflow: hidden;
}

.homepages-slide {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.homepages-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.homepages-img {
  width: 100%;
  height: 100%;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepages-content {
  z-index: 1;
}

.homepages-title {
  font-size: 22px;
  font-weight: bold;
  padding: 45px 0px;
  font-family: sans-serif;
}

.homepages-subtitle {
  font-size: 48px;
  padding: 10px 0;
}

.homepages-button {
  margin: 30px 0;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #22B3C1;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: all 0.5s ease;
}

.homepages-button:hover {
  background-color: #fff;
  color: #22B3C1;
  border: 1px solid #22B3C1;
}

.homepages-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 120px; */
  width: 1100px;
  background-color: #FFFFFF;
  border-radius: 80px;
}

.homepages-card {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
}

.homepages-card .icon {
  font-size: 22px;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #22B3C1;
  color: #22B3C1 !important;
  transition: color 0.3s ease;
}

.homepages-info {
  margin-left: 10px;
}

.homepages-person {
  font-size: 18px;
  color: #B4B3AF;
}

.homepages-number {
  font-size: 24px;
  margin: 0;
  color: #22B3C1;
}

.homepages-btn {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  background-color: #22B3C1;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: all 0.5s ease;
}

.homepages-btn:hover {
  background-color: #fff;
  color: #22B3C1;
  border: 1px solid #22B3C1;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .mySwiper {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .homepages-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 40px;
  }
}

@media screen and (max-width: 945px) {
  .homepages-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 40px;
  }
}

@media screen and (max-width: 540px) {
  .homepages-content {
    z-index: 1;
  }

  .homepages-title {
    font-size: 16px;
    padding: 10px 0px;
    width: 200px;
    margin: 0 auto;
  }

  .homepages-subtitle {
    font-size: 25px;
    margin: 0 auto;
    width: 200px;
  }

  .homepages-button {
    width: 140px;
    height: 45px;
    font-size: 12px;
  }

  .homepages-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    width: 300px;
    border-radius: 10px;
  }

  .homepages-card {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .homepages-card .icon {
    font-size: 20px;
    padding: 10px;
  }

  .homepages-person {
    font-size: 16px;
  }

  .homepages-number {
    font-size: 16px;
  }

  .homepages-btn {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .homepages-content {
    z-index: 1;
  }

  .homepages-title {
    font-size: 16px;
    padding: 10px 0px;
    width: 200px;
    margin: 0 auto;
  }

  .homepages-subtitle {
    font-size: 25px;
    margin: 0 auto;
    width: 200px;
  }

  .homepages-button {
    width: 140px;
    height: 45px; 
    font-size: 12px;
  }

  .homepages-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 100px; */
    width: 300px;
    border-radius: 10px;
  }
  .homepages-card {
    padding: 15px;
  }

  .homepages-card .icon {
    font-size: 20px;
    padding:  4px;
  }

  .homepages-person {
    font-size: 16px;
  }

  .homepages-number {
    font-size: 16px;
  }

  .homepages-btn {
    width: 110px;
    height: 30px;
  }

}
